body, header,nav {
    color: white;
}

h1 {
    text-align: center;
}
header {
    color: white;
    padding: 20px 0;
    background-color: black;
}

#topbar {
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(23, 23, 23);
}

button {
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(52,152,219,0.5);
}